In [19]:
import pandas as pd
df = pd.read_csv("Desktop/Quick-Pi Experiments/clavier.csv")
df.sort_values(by=['id_connexion', 'timestamp'], ascending=[False,False])

,id,id_connexion,timestamp,id_sujet,version,touche
0,271830,7028,2022-05-16 12:06:47.000,192,2,Meta
15,271828,7026,2022-05-12 09:34:52.000,177,4,2
14,271818,7026,2022-05-12 09:33:28.000,179,4,2
12,271784,7026,2022-05-12 09:31:31.000,178,4,3
11,271778,7026,2022-05-12 09:31:03.000,178,4,3
...,...,...,...,...,...,...
271818,3,15,2021-05-27 07:56:42.000,13,0,d
271819,4,15,2021-05-27 07:56:42.000,13,0,s
271820,5,15,2021-05-27 07:56:42.000,13,0,d
271821,6,15,2021-05-27 07:56:42.000,13,0,s
271816,1,15,2021-05-27 07:56:41.000,13,0,d

In [26]:
# Filtering data
df_filtered = df[df['touche'].str.contains('^[a-zA-Z0-9]$', na=False)]
df_filtered.sort_values(by=['id_connexion', 'timestamp'], ascending=[False,False])

,id,id_connexion,timestamp,id_sujet,version,touche
15,271828,7026,2022-05-12 09:34:52.000,177,4,2
14,271818,7026,2022-05-12 09:33:28.000,179,4,2
12,271784,7026,2022-05-12 09:31:31.000,178,4,3
11,271778,7026,2022-05-12 09:31:03.000,178,4,3
10,271773,7026,2022-05-12 09:30:48.000,178,4,5
...,...,...,...,...,...,...
271818,3,15,2021-05-27 07:56:42.000,13,0,d
271819,4,15,2021-05-27 07:56:42.000,13,0,s
271820,5,15,2021-05-27 07:56:42.000,13,0,d
271821,6,15,2021-05-27 07:56:42.000,13,0,s
271816,1,15,2021-05-27 07:56:41.000,13,0,d

In [22]:
def segmentNconcat(data,id_connexion):
    data = data[]

,id,id_connexion,timestamp,id_sujet,version,touche
15,271828,7026,2022-05-12 09:34:52.000,177,4,2
14,271818,7026,2022-05-12 09:33:28.000,179,4,2
12,271784,7026,2022-05-12 09:31:31.000,178,4,3
11,271778,7026,2022-05-12 09:31:03.000,178,4,3
10,271773,7026,2022-05-12 09:30:48.000,178,4,5
...,...,...,...,...,...,...
271818,3,15,2021-05-27 07:56:42.000,13,0,d
271819,4,15,2021-05-27 07:56:42.000,13,0,s
271820,5,15,2021-05-27 07:56:42.000,13,0,d
271821,6,15,2021-05-27 07:56:42.000,13,0,s
271816,1,15,2021-05-27 07:56:41.000,13,0,d